
<mat-card  class="example-card">

  <div  align="center" class="example-container">
    <h1 class="add-car-title" mat-dialog-title>ADD NEW CAR</h1>
    <form #form="ngForm" (submit)="onSubmit(form)"  novalidate>


      <mat-form-field>
        <input  name="name" ngModel required #name = 'ngModel' matInput  maxlength="10" placeholder="NAME">
        <mat-error *ngIf="name.invalid">NAME IS REQUIRED</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input  name="model" ngModel required #model='ngModel' matInput  maxlength="10" placeholder="MODEL">
        <mat-error *ngIf="model.invalid">MODEL IS REQUIRED</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input  name="year" ngModel required #year = 'ngModel' matInput placeholder="YEAR" type="number" class="example-right-align">
        <mat-error *ngIf="year.invalid">YEAR IS REQUIRED</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input name="mileage" ngModel required #mileage = 'ngModel' matInput placeholder="MILEAGE" type="number" class="example-right-align">
        <mat-error *ngIf="mileage.invalid">MILEAGE IS REQUIRED</mat-error>
      </mat-form-field>


      <div class="button-row" style="width: 60px; height: 60px"> <button class="fileInput" mat-button color="primary" mat-mini-fab (click)="imgFileInput.click()"><mat-icon>add_a_photo</mat-icon></button> <input hidden type="file" #imgFileInput/> </div>

      <mat-form-field>
        <textarea  name="description" ngModel required #description = 'ngModel' class="descriptionInput" matInput placeholder="DESCRIPTION"></textarea>
        <mat-error *ngIf="description.invalid">DESCRIPTION IS REQUIRED</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input  name="price" ngModel required #price = 'ngModel' matInput placeholder="PRICE" type="number" class="example-right-align">
        <mat-error *ngIf="price.invalid">PRICE IS REQUIRED</mat-error>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>+48 &nbsp;</span>
        <input name="telephone" ngModel required #telephone = 'ngModel' type="tel" matInput placeholder="TELEPHONE">
        <mat-error *ngIf="telephone.invalid">TELEPHONE IS REQUIRED</mat-error>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <button mat-button
                      [disabled]="
                          name.invalid ||
                          model.invalid ||
                          year.invalid ||
                          mileage.invalid ||
                          price.invalid ||
                          telephone.invalid ||
                          description.invalid"
                      type="submit"
      >
                ADD
              </button>
      <button
                mat-button
                routerLink="/"
      >
                CANCEL
              </button>
    </form>
  </div>

</mat-card>
