mat-form-field,
textarea {
  width: 100% !important;
}


.add-car-title{
  color:#3A739E;
  font : 500 30px/40px Roboto, "Helvetica Neue", sans-serif

}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 51%;
}

.mat-card{
  padding: 16px 16px !important;
}

.example-card{
  margin: 16px 100px;

}


@media only screen and (max-width: 750px) {

  .example-card{
    margin: 16px 16px;

  }
  .phoneInput{
    display: none;

  }

  .priceInput{
    display: none;
  }

  .phoneInputMobile{
    display: block;
  }

  .priceInputMobile{
    display: block;
  }

  .add-car-title{
    color:#3A739E;
    font : 500 20px/30px Roboto, "Helvetica Neue", sans-serif

  }

  mat-form-field mat-placeholder{
    color: red
  }


}


