
<mat-card  class="example-card">

  <div  align="center" class="example-container">
    <h1 class="add-car-title" mat-dialog-title>{{formTitle}}</h1>
    <form [formGroup]="form" (submit)="onSaveCar()">


      <mat-form-field>
        <input formControlName="name"   matInput   placeholder="Name">
        <mat-error *ngIf="form.get('name').invalid">Please enter a car name !</mat-error>
      </mat-form-field>



      <mat-form-field>
        <input   formControlName="model" matInput   placeholder="Model">
        <mat-error *ngIf="form.get('model').invalid">Please enter a car model !</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input  formControlName="year" matInput placeholder="Year" type="number" class="example-right-align">
        <mat-error *ngIf="form.get('year').invalid">Range car year is 1900 - 2019 </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input  formControlName="mileage" matInput placeholder="Mileage" type="number" class="example-right-align">
        <mat-error *ngIf="form.get('mileage').invalid">Please enter a car mileage ! </mat-error>
      </mat-form-field>


      <!-- IMAGE INPUT -->

      <button  type="button" class="file-input" mat-button color="primary" mat-mini-fab (click)="imgFileInput.click()">
        <mat-icon>add_a_photo</mat-icon></button>

      <input hidden type="file"  (change)="onImagePicked($event)" #imgFileInput/>

      <div class="image-row" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <div class="image-preview">
          <img [src]="imagePreview" [alt]="form.value.name">
        </div>
      </div>

      <!-- END OF IMAGE INPUT -->

      <mat-form-field>
        <textarea   formControlName="description" class="descriptionInput" matInput placeholder="Description"></textarea>
        <mat-error *ngIf="form.get('description').invalid">Please enter a car description ! </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="price" matInput placeholder="Price" type="number" class="example-right-align">
        <mat-error *ngIf="form.get('price').invalid">Please enter a valid car price ! </mat-error>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>+48 &nbsp;</span>
        <input formControlName="telephone" type="tel" matInput placeholder="Telephone">
        <mat-error *ngIf="form.get('telephone').invalid">Please enter a valid number !</mat-error>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <!--<button mat-button
                      [disabled]="
                          name.invalid ||
                          model.invalid ||
                          year.invalid ||
                          mileage.invalid ||
                          price.invalid ||
                          telephone.invalid ||
                          description.invalid"
                      type="submit"
      >
                {{formButtonTitle}}
              </button>-->
      <button type="submit" color="accent" mat-button>
        {{formButtonTitle}}
      </button>
      <button mat-button routerLink="/">
        CANCEL
      </button>
    </form>
  </div>

</mat-card> <!-- END OF FORM -->
