.example-header-image {
  margin-top: 15px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.example-header-image img{

  width: 100%;
}


.carListEmpty{
  text-align: center;
  color: #3F4447;

}

.example-spacer {
  flex: 1 1 auto;
}

.mat-card-avatar{
  width: 148px !important;
  border-radius: 0 !important;
}

.mat-card{
  padding: 16px 16px !important;
}

.mat-display-1{

}

mat-card-actions{
  padding: 0 16px 16px !important;
}

.carTitle{
  font: 400 2em Roboto,"Helvetica Neue",sans-serif;
}


ul{
  list-style: none;
  margin-right: 16px;
}

.example-card{
  margin-top: 16px !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.carInfo{

  color: #3F4447;
}

.carPrice{
  color: #3A739E;
  margin-top: 20px;
}

.carPriceMobile{
  display: none;
}

.carName{
  text-transform: uppercase;
  text-align: left;
}
.mobile-price{
  display: none;
}



@media only screen and (max-width: 750px) {
  .carPrice{
    font: 400 0.7em Roboto,"Helvetica Neue",sans-serif;
    margin-top: 15px;
    text-align: left;
  }


}
@media only screen and (max-width: 650px) {
  .carName{
    font: 400 1.7em Roboto,"Helvetica Neue",sans-serif;
    text-align: center;

  }
  .carPrice{
    display: none;
  }

  .mobile-price{
    display: block;
  }

  .carNameMobile{
    text-transform: uppercase;
    display: block;
  }

  .carInfo{
    margin: 0;
  }


}
