



<mat-card class="car-card">
  <mat-card-header>


        <mat-card-title >
          <h1 class="car-name">{{car?.name}} {{car?.model}}</h1>
        </mat-card-title>

        <mat-card-subtitle>
          MILEAGE:  <span style="color: #3A739E"> <strong>{{car?.mileage}}</strong></span> KM
        </mat-card-subtitle>

        <mat-card-subtitle>
          YEAR: <span style="color: #3A739E"><strong>{{car?.year}}</strong></span> YR
        </mat-card-subtitle>

        <mat-card-subtitle class="mobile-view-price">
            PRICE : <span style="color: #3A739E"><strong>{{car?.price}}</strong></span> PLN
        </mat-card-subtitle>

        <span class="example-spacer"></span>

          <div class="car-price">
            <h1>{{car?.price}} PLN</h1>
          </div>


  </mat-card-header>


  <img mat-card-image [src]="car?.imagePath" [alt]="car?.name + '' + car?.model">
  <mat-card-content>
    <mat-card style="background-color: #f5f5f5">
      <div class="car-info" >
        <mat-icon align="center">description</mat-icon>
        <div class="car-description">
          <h2  style="text-align: left; margin-top: 20px; margin-bottom: 20px" class="mat-h2">
            {{car?.description}}
          </h2>
        </div>

      </div>
      <mat-card-actions    align="center">
        <button *ngIf="!showTelephoneStatus" (click)="showTelephone()" style="width: 100%" mat-button>SHOW TELEPHONE</button>
        <div  *ngIf="showTelephoneStatus" class="show-telephone">
          +48 {{car?.telephone}}
        </div>
        <button  (click)="backToCarList()"  style="width: 100%" mat-button>BACK TO CAR LIST</button>

      </mat-card-actions>
    </mat-card>


  </mat-card-content>

</mat-card>
