<mat-card  class="example-card">

  <mat-card-header>

    <div style="width: 100px" mat-card-avatar class="example-header-image"></div>

    <div class="carInfo">
      <mat-card-title>
        <h1>POLONEZ CARO</h1>
      </mat-card-title>
      <mat-card-title>
        <h2 class="carInfoPrice">1223 PLN</h2>
      </mat-card-title>
      <mat-card-subtitle>
        ID: 1231231
      </mat-card-subtitle>

    </div>
    <span class="example-spacer"></span>

    <div class="carPrice">
      <h1>123132 PLN</h1>
    </div>

  </mat-card-header>
  <mat-card-actions style="">
    <button  mat-button>VIEW</button>
    <button  mat-button>EDIT</button>
    <button  mat-button>DELETE</button>
  </mat-card-actions>
</mat-card>
