
<!-- NGX SPINNER PLACE -->
<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "large"
  color = "#ffffff"
  type = "ball-clip-rotate"
></ngx-spinner>



<div class="carList" *ngIf="cars.length > 0; else carListEmpty" >
  <mat-card  *ngFor="let car of cars"  class="example-card">

    <mat-card-header>

      <div style="width: 100px" mat-card-avatar class="example-header-image"></div>

      <div class="carInfo">
        <mat-card-title>
          <h1 class="carName">{{ car.name + ' ' + car.model}}</h1>
          <h2 class="carNameMobile" style="display: none">{{car.name + ' ' + car.model}}</h2>
        </mat-card-title>
        <mat-card-title>
          <h2 class="carPriceMobile">{{car.price + ' ' + 'PLN'}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
          YEAR : {{car.year}}
        </mat-card-subtitle>

      </div>
      <span class="example-spacer"></span>

      <div class="carPrice">
        <h1>{{car.price + ' ' + 'PLN'}}</h1>
      </div>

    </mat-card-header>
    <mat-card-actions style="">
      <button  (click)="onView(car.id)" color="accent" mat-button>VIEW</button>
      <button  color="accent" mat-button>EDIT</button>
      <button  color="accent"  (click)="onDelete(car.id)" mat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>



</div>

<ng-template #carListEmpty>
  <mat-card  class="example-card">
    <h3 class="carListEmpty">
      CAR LIST EMPTY - ADD A NEW CAR !
    </h3>
  </mat-card>
</ng-template>
