mat-form-field,
textarea {
  width: 100% !important;
}


.add-car-title{
  color:#3A739E;
  font : 500 30px/40px Roboto, "Helvetica Neue", sans-serif

}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 51%;
}

.mat-card{
  padding: 16px 16px !important;
}

.example-card{
  margin: 16px 100px;

}

.image-row{
  width: 150px;
  height: 100px;
  border-radius: 25%;
  border: 3px solid #3A739E;
  z-index: 999;
  margin-top: 20px;
}

.file-input{
  margin-top: 60px;
  margin-bottom: 40px;
  width: 60px;
  height: 60px;

}

.image-preview {
  height: 3rem;
  margin: 1rem 0;

}

.image-preview img {
  height: 100%;
}



@media only screen and (max-width: 750px) {
  .example-container > * {
    width: 70%;
  }


  .image-row{
    width: 100px;
    height: 100px;
  }

  .image-preview {
    height: 2.3rem;
    margin: 25px 0 1rem;

  }

  .example-card{
    margin: 16px 16px;

  }
  .phoneInput{
    display: none;

  }

  .priceInput{
    display: none;
  }

  .phoneInputMobile{
    display: block;
  }

  .add-car-title{
    color:#3A739E;
    font : 500 20px/30px Roboto, "Helvetica Neue", sans-serif

  }

  mat-form-field mat-placeholder{
    color: red
  }


}


