.car-card{
  margin: 16px !important;
}

.carName{
  font-size: 2em !important;
  color: #3F4447;
  margin-left: 0 !important;
  text-align: left;
  text-transform: uppercase !important;
}

.back-to-car-list-btn{
  margin-bottom: 16px !important;
}
.car-info{

  text-align: center;
  color: #3A739E;
}

.carViewPrice{
  color: #3A739E;

}


.example-spacer {
  flex: 1 1 auto;
}


.mat-h2{
  padding: 2%;
  color: #3F4447;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .carViewPrice{
    font: 400 0.7em Roboto,"Helvetica Neue",sans-serif;
  }

  .carName{
    text-align: left;
  }

  .carPrice{
    text-align: center;
    margin-top: 15px !important;
  }


}
