



<mat-card class="car-card">
  <mat-card-header>


        <mat-card-title>
          <h1 class="carName">AUDI A4</h1>
        </mat-card-title>
        <mat-card-subtitle>
          MILEAGE: 1000 KM
        </mat-card-subtitle>
        <mat-card-subtitle>
          YEAR: 2019
        </mat-card-subtitle>
        <span class="example-spacer"></span>

          <div class="carViewPrice">
            <h1>15000 PLN</h1>
          </div>


  </mat-card-header>


  <img mat-card-image src="http://pngimg.com/uploads/mercedes/mercedes_PNG1880.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h2 class="mat-h2">
      MERCEDES 1.6 LPG<br>
      KOSA JAK SKURWYSYN<br>
      BOGATE WYPOSAŻENIE <br>

    </h2>


  </mat-card-content>
  <mat-card-actions align="center">
    <button  color="accent" style="margin:20px" *ngIf="hideButton === false" (click)="showTelephone()" mat-button>SHOW TELEPHONE</button>
    <div *ngIf="showNumber === true">
      <h2 class="mat-h2">
       666 923 823
      </h2>
    </div>

  </mat-card-actions>
</mat-card>
