



<mat-card class="car-card">
  <mat-card-header>


        <mat-card-title >
          <h1 class="carName">{{car?.name}} {{car?.model}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
          MILEAGE: {{car?.mileage}} KM
        </mat-card-subtitle>
        <mat-card-subtitle>
          YEAR: {{car?.year}}
        </mat-card-subtitle>
        <span class="example-spacer"></span>

          <div class="carViewPrice">
            <h1>{{car?.price}} PLN</h1>
          </div>


  </mat-card-header>


  <img mat-card-image src="http://pngimg.com/uploads/mercedes/mercedes_PNG1880.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-card style="background-color: #3A739E">
      <div class="car-info" >
        <mat-icon align="center">description</mat-icon>
        <h2  style="color:#3f4447" class="mat-h2">
          {{car?.description}}
        </h2>
      </div>
      <mat-card-actions    align="center">
        <button style="width: 100%" mat-button>LIKE</button>
        <button  style="width: 100%" mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>


  </mat-card-content>

</mat-card>
